*, *::after, *::before {
  box-sizing: border-box;
}

.profile-page {
  background-color: #74AD5C;
}

.profile-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-page__title, .profile-page__text {
  color: white;
  padding: 0;
  margin: 0;
}

.profile-page__bio {
  background-color: #ACFF89;
  border-radius: 20px;
  width: 20rem;
  padding: 1rem;
}

.profile-page__meetup, span {
  color: white;
  font-family: 'Inconsolata';
  font-size: 24px;
  font-weight: 700;
}

div.ascii-image {
  color: white;
  font-size: .5rem;
  word-wrap: break-word;
  width: 20rem;
  font-family: 'Inconsolata';
}