*, *::after, *::before {
  box-sizing: border-box;
}

.profile-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.ascii-image {
  font-size: .5rem;
  word-wrap: break-word;
  width: 20rem;
  font-family: 'Inconsolata';
}